*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-size: 15px;

  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, blue, yellow);
  background-repeat: no-repeat;
}
h2 {
  color: white;
}
.clock {
  width: 20rem;
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  border: 0.1rem solid black;
  position: relative;
}
.shape {
  position: absolute;
  top: 2rem;
  left: 7.5rem;
  border-radius: 50%;
  color: white;
  background-image: linear-gradient(to bottom right, blue, yellow);
}
#mydiv {
  position: absolute;
}
/* hours placing */
.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  transform: rotate(var(--rotation));
}
/*spread numbers evenly*/

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

/*rotate each number */

.reverse {
  --reverse: 0;
  transform: rotate(var(--reverse));
}
.number1 div {
  --reverse: -30deg;
}
.number2 div {
  --reverse: -60deg;
}
.number3 div {
  --reverse: -90deg;
}
.number4 div {
  --reverse: -120deg;
}
.number5 div {
  --reverse: -150deg;
}
.number6 div {
  --reverse: -180deg;
}
.number7 div {
  --reverse: -210deg;
}
.number8 div {
  --reverse: -240deg;
}
.number9 div {
  --reverse: -270deg;
}
.number10 div {
  --reverse: -300deg;
}
.number11 div {
  --reverse: -330deg;
}

/*hands*/

.clock .hand {
  --rotation: 0;
  background-color: black;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom;
  border: 1px solid white;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  z-index: 10;
}
.clock::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 1rem;
  height: 1rem;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
}
#second {
  width: 0.25rem;
  height: 43%;
  background-color: red;
}
#minute {
  width: 0.45rem;
  height: 40%;
  background-color: black;
}
#hour {
  width: 0.65rem;
  height: 35%;
  background-color: black;
}
